# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
.venv/
venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm
.idea/

# VSCode
.vscode/

# MyPy, Pyright, Pylint
.mypy_cache/
.pyright/
.pylint.d/

# Coverage
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Testing
.tox/
noxfile_*
.pytest_cache/
test-results/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Local overrides and secrets
.env
.env.*

# Project-specific folders
backend/tmp/
backend/data/__pycache__/
